@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

<body

{

	font-family: 'Open Sans', sans-serif;

}

table
{
	border: 1px solid;
	border-spacing: 0px;


}

thead 
{
	background-color: grey;
	color : white bold;
	font-size: 25px;
}

tbody
{
	background-color: lightgrey;
	border-spacing: 0.5px solid;

}

th
{
	border: 1px solid black;
}